<!DOCTYPE html>
<html>
  <head>
    <title>BenchBnB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA_znrEOheoNU6_8PsyI8Peo097F0FIDY">
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
